---
import styles from './style.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Me</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body class="about-page">
        <h1>About Me</h1>
        <p>This is the about page where you can add information about yourself.</p>
        <a href="/">
            <button>Home</button>
        </a>
    </body>
</html>