---
import '../styles/styles.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Me and my assinstant</title>
    </head>
    <body class="about-page">
        <div class="background-container"></div>
        <h1>About Me</h1>
        <a href="/">
            <button id="Home-button">Home</button>
        </a>
        <div class="content-container">
            <div class="photo-and-bio">
                <div class="photo-and-skills">
                    <a href="https://www.linkedin.com/in/jared-diaz-934591331" target="_blank" id="photo-link">
                        <img src="/Jared.jpeg" alt="Jared's Photo" id="jared"/>
                    </a>
                    <div id="h2-me">
                        <a href="https://jareddiaz-landing-page.netlify.app/" target="_blank">
                            <h2>Jared A. Diaz</h2>
                        </a>
                    </div>
                    <div class="skills-container">
                        <h2>Skills</h2>
                        <ul class="skills-list">
                            <li>JavaScript</li>
                            <li>HTML & CSS</li>
                            <li>React</li>
                            <li>Node.js</li>
                            <li>Python</li>
                        </ul>
                    </div>
                </div>
                <div class="Bio-container">
                    <p>
                        My name is Jared Diaz and I am a computer science major. 
                        My interest for my studies include game design, game development, 
                        and web development. 
                        With that knowledge I hope to be able to create my own game 
                        someday whether it be simple or complex as long as the game is 
                        fun that will be fine by me. Currently, 
                        I am studying at Eastern Washington University and I plan to
                        join a game development company after I graduate weather it be big or small.
                    </p>
                </div>
                <div class="Morro-container">
                    <img src="/LittleMorro.jpg" alt="Morro" id="Morro"/>
                    <h2 class="Morro-name">Morro</h2> <!-- Added this line -->
                    <div class="Morro-skills-container">
                        <h2>Skills</h2>
                        <ul class="skills-list">
                            <li>Listining</li>
                            <li>Eating</li>
                            <li>HTML & CSS</li>
                            <li>Being Silly</li>
                            <li>Sleeping</li>
                        </ul>
                    </div>
                </div>
                <div class="Morro-Bio-container">
                    <p id="Morro-bio">
                        This is Morro, 
                        he is my Computer science assinstant.
                        He is a Dragon Li cat (I think, he could also just be a Taby cat) and he is very shy and cold,
                        at least until you get to know him and he gets to know you.
                        Morro dosent always provide the best feed back or 
                        constructive critisim 
                        (its mostly harsh citisum and judgment) but hes always there 
                        when I need to explain what I am trying to do with my projects
                        (like a rubber duck but cooler).
                    </p>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; 2024 Jared A. Diaz. All rights reserved.</p>
        </footer>
    </body>
</html>