---
import '../styles/styles.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body class="home-page">
    <h1>Welcome!</h1>
    <a href="https://www.ewu.edu/" target="_blank">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1nQv6b_BOsoyuD3jXmgjPAxqXKBHNw0LjZg&s" alt="EWU Logo" class="school-logo-button" />
    </a>
    <footer id="home-footer">    
      <p>To know Jared more personally check out the landing page!</p>
      <a href="/about">
        <button>about me</button>
      </a>
      <a href="https://jareddiaz-landing-page.netlify.app/" target="_blank">
        <button>Landing Page</button>
      </a>
    </footer>
  </body>
</html>

