---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Home</title>
        <link rel="stylesheet" href="/src/style/styles.css" />
    </head>
    <body class="home-page">
        <h1>Jared</h1>
        <p>This is the about page where you can add information about yourself.</p>
        <a href="/about">
            <button>about</button>
        </a>
    </body>
</html>
