body {
    background-color: seaGreen; /* Default background color */
}

.about-page {
    background-color: red; /* Background color for the about page */
}

.home-page {
    background-color: seaGreen; /* Background color for the home page */
}